body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1,
h2 {
  /* font-style: italic; */
  color: #ff6f00;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.fixed {
  z-index: 1;
  position: fixed;
  background-color: white;
  padding-bottom: 2rem;
  border-bottom: 1px solid #ccc;
}

canvas {
  width: 28px;
  height: 28px;
  margin: 10px auto 5px auto;
  zoom: 6;
}

p {
  margin: 5px;
}

.box {
  width: 45%;
  margin: 1%;
  border: 1px dashed #cdcddc;
  display: inline-block;
  min-height: 400px;
  text-align: center;
}

p#prediction {
  font-size: 20pt;
  margin: 10px;
  text-align: center;
}

p#prediction.correct {
  border: 3px solid #00ff00;
  color: #00ff00;
  font-size: 100pt;
}

p#prediction.wrong {
  border: 3px solid #ff0000;
  color: #ff0000;
  font-size: 100pt;
}

#console {
  padding-top: 40rem;
}
